<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="newtest">
  <test name="Test">
  <parameter name="browser" value="Chrome"></parameter>
    <classes>
      <class name="com.ondot.testng.SampleTestScript"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- newtest -->
